body {
    font-family: "poppins";
    margin: 0;
    padding: 0;
}
/* Main + Background */

.main {
    background-image: url(../img/IMG_6113.jpg);
    background-repeat: no-repeat;
    height: 1300px;
}

/* Title */

h1 {
    color: whitesmoke;
    font-size: 80px;
    font-weight: 400;
    padding: 50px 10px 20px 10px;
}
#btn1:hover {
    background-color: darkgray;
    cursor: pointer;
}

/* Quiz */

#quiz {
    visibility: hidden;
}
h5 {
    color: whitesmoke;
    font-size: 24px;
    font-weight: 400;
    margin: 8px;
}
h6 {
    color:whitesmoke;
    font-size: 22px;
    font-weight: 300;
    margin: 5px;
}
input {
    margin: 10px 0 10px 0;
    width: 300px;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}
#btn2 {
    margin: 10px;
}
#btn2:hover {
    background-color: darkgray;
    cursor: pointer;
}
#right {
    color: green;
    font-size: 30px;
    padding: 10px;
}
#wrong {
    color: red;
    font-size: 30px;
    padding: 10px;
}

 /* Media Queries */

 @media (max-width: 733px) {
     .main {
         height: 1100px;
     }
 }
 @media (max-width: 530px) {
     h1 {
         font-size: 60px;
     }
     h5 {
         text-align: center;
     }
     h6{
         font-size: 18px;
     }
 }